In [4]:
#Q NO 4
movies = ["The Shawshank Redemption", "Inception", "The Dark Knight", "Interstellar", "Forrest Gump"]
print("Initial list of favorite movies:")
print(movies)
new_movie = "The Matrix"
movies.append(new_movie)
print("Updated list of favorite movies:")
print(movies)

Initial list of favorite movies:
['The Shawshank Redemption', 'Inception', 'The Dark Knight', 'Interstellar', 'Forrest Gump']
Updated list of favorite movies:
['The Shawshank Redemption', 'Inception', 'The Dark Knight', 'Interstellar', 'Forrest Gump', 'The Matrix']

In [5]:
#Q NO 5
integers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
total = 0
for num in integers:
    total += num
print(total)

55

In [6]:
#Q NO 6
mixed_list = [10, "apple", 4.5, "banana", 42]
print("Original list:", mixed_list)
mixed_list.pop(0)
print("Modified list:", mixed_list)

Original list: [10, 'apple', 4.5, 'banana', 42]
Modified list: ['apple', 4.5, 'banana', 42]

In [7]:
#Q NO 7
days = ("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday")
print("Days of the week:", days)
print("The third day is:", days[2])

Days of the week: ('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')
The third day is: Tuesday

In [8]:
#Q NO 8
colors = ("red", "blue", "green", "yellow", "black")
color_to_check = "black"
is_present = False
for color in colors:
    if color == color_to_check:
        is_present = True
        break
print("Black in colors?", is_present)

Black in colors? True

In [9]:
#Q NO 9
book = {
    "title": "Managing Oneself",
    "author": "Peter Drucker",
    "year": 2001
}
print("Original book info:", book)
book["year"] = 2010
print("Updated book info:", book)

Original book info: {'title': 'Managing Oneself', 'author': 'Peter Drucker', 'year': 2001}
Updated book info: {'title': 'Managing Oneself', 'author': 'Peter Drucker', 'year': 2010}

In [10]:
#Q NO 10
fruit_colors = {
    "apple": "red",
    "banana": "yellow",
    "grape": "green",
    "orange": "orange"
}
print("Original dictionary:", fruit_colors)
fruit_colors["kiwi"] = "green"
print("Updated dictionary:", fruit_colors)

Original dictionary: {'apple': 'red', 'banana': 'yellow', 'grape': 'green', 'orange': 'orange'}
Updated dictionary: {'apple': 'red', 'banana': 'yellow', 'grape': 'green', 'orange': 'orange', 'kiwi': 'green'}

In [12]:
#Q NO 11
city = {
    "Kathmandu": 1000000,
    "Bhaktapur": 300000,
    "Lalitpur": 400000,
    "Biratnagar": 500000
}
print("Original dictionary:", city)
city.pop("Bhaktapur")
print("Updated dictionary:", city)

Original dictionary: {'Kathmandu': 1000000, 'Bhaktapur': 300000, 'Lalitpur': 400000, 'Biratnagar': 500000}
Updated dictionary: {'Kathmandu': 1000000, 'Lalitpur': 400000, 'Biratnagar': 500000}